#rotatemob{
    animation: mobrotate 3s infinite alternate;
    transform-origin:center;
    
}
@keyframes mobrotate {
    0% {
      transform:rotate(25deg);
    }

    100% {
      transform:rotate(0deg);
    }

  }

@media screen and (min-width: 768px) {
    #rotation-icon{
     display: none;  
    }
}